template(name="championship")
	h1 #{championshipName}
	if currentUser
		if playerInChampionship
			+AddAGame
		else
			button#integrateChampionship.btn.btn-success.btn-block(type="button") {{_ "integrateChampionship"}}
	else
		p
			mark {{_ "logInToIntegrateTheChampionship"}}
	+Ranking
	+LastGamesComponent(nbGames="20")