template(name="listChampionships")
	if Template.subscriptionsReady
		.panel.panel-default
			.panel-heading
				.row
					.col-xs-8.col-sm-8.col-md-6.col-lg-6
						h3.panel-title {{_ "championshipsList"}}
					if currentUser
						.col-xs-4.col-sm-4.col-md-6.col-lg-6
							a.pull-right.btn.btn-primary.btn-xs(role="button" href="{{pathFor 'newChampionship'}}") {{_ "createChampionship"}}
			.panel-body
				each championship
					.panel.panel-default
						.panel-heading
							p.panel-title #{name}
						.panel-body
							.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									{{_ ""}}
							if public
								a.btn.btn-default(role="button" href="{{pathFor 'championship'}}")
									span.glyphicon.glyphicon-zoom-in
									| {{_ "seeDetails"}}
	else
		+spinner