template(name="championships")
	.panel.panel-default
		.panel-heading
			.row
				.col-xs-8.col-sm-8.col-md-6.col-lg-6
					h3.panel-title {{_ "championshipsList"}}
				if currentUser
					.col-xs-4.col-sm-4.col-md-6.col-lg-6
						a.pull-right.btn.btn-primary.btn-xs(role="button" href="{{pathFor 'createChampionship'}}") {{_ "createChampionship"}}
		table.table
			thead
				tr
					th {{_ "championshipName"}}
					th {{_ "seeDetails"}}
			tbody
				each championship
					tr
						td #{name}
						td
							if public
								a.btn.btn-default(role="button" href="{{pathFor 'championshipWrapper'}}")
									span.glyphicon.glyphicon-zoom-in