template(name="account")
	.container
		.panel.panel-default
			.panel-heading
				h2.panel-title {{_ "userRankingEvolution"}}
			.panel-body
				#userRankingGraph
		.panel.panel-default
			.panel-heading
				h2.panel-title {{_ "account"}}
			.panel-body
				form
					.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							.form-group
								label(for='firstName') {{_ "firstName"}}
								input#firstName.form-control.awesomplete(type='text' value="#{userData.profile.firstName}")
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							.form-group
								label(for='lastName') {{_ "lastName"}}
								input#lastName.form-control.awesomplete(type='text' value="#{userData.profile.lastName}")
					.row
						.col-md-12.col-lg-12
							button#saveUser.btn-block.btn.btn-success(type='submit') {{_ "save"}}