body
	padding-top 70px
	font-size 14px
	.navbar-brand
		font-size 24px
@media (max-width 320px)
	h1
		font-size 28px
	h2
		font-size 24px
	h3
		font-size 20px
	h4
		font-size 14px
	h5
		font-size 12px
	h6
		font-size 10px
@media (min-width 321px)
	h1
		font-size 28px
	h2
		font-size 24px
	h3
		font-size 20px
	h4
		font-size 14px
	h5
		font-size 12px
	h6
		font-size 10px
//@media (min-width 450px)
@media (min-width 768px)
	h1
		font-size 36px
	h2
		font-size 30px
	h3
		font-size 24px
	h4
		font-size 18px
	h5
		font-size 14px
	h6
		font-size 12px
//@media (min-width 992px)
//@media (min-width 1200px)
