template(name="championship")
	if Template.subscriptionsReady
		with championshipData
			h2 #{name}
				if ownerOfTheChampionship
					a.btn.btn-info.pull-right(role="button" href="{{pathFor 'editChampionship'}}")
						span.glyphicon.glyphicon-edit(aria-hidden="true")
						| {{_ "edit"}}
	else
		+spinner
	if currentUser
		+addAGame
	else
		p
			mark {{_ "logInToIntegrateTheChampionship"}}
	+ranking
	+listLastGames(nbGames="20")